.sidebar {
  position:absolute;
  width:360px;
  z-index: 10;
  height: 100%;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 6px;
  bottom:0;
  font-family:Franklin Gothic Book;
}


#shade1{
  position:absolute;
  top:40px;
  left:305px;
  opacity:0.30;
}

#shade2{
  position:absolute;
  top:40px;
  left:325px;
  opacity:0.50;
}

#solid{
  position:absolute;
  top:40px;
  left:280px;
}

#name{
  font-family: AppleGothic;
  font-weight: bold;
  text-align: center;
}

.intro{
  position:absolute;
  top:180px;
}


#prediction{
  position:absolute;
  top:540px;
  width:375px;
  margin-left: 5px;
  margin-right:10px;
}


.collapse{
  margin-left: 0;
  margin-right: 0;
}

#map {
    position: absolute;
    right: 0px;
    bottom:0;
    left: 400px;
    height: 100%;
    top: 0;
}

.legend0 {
  background-color:#fff;
  border-radius:10px;
  bottom:30px;
  box-shadow:0 1px 2px rgba(0,0,0,0.10);
  font:14px 'Franklin Gothic Book'
  padding: 10px;
  position:absolute;
  right:10px;
  z-index: 1;
  opacity: 0.8;
}

.legend0 div span {
  border-radius: 50%;
  border:2px solid #535E80;
  height:20px;
  margin-right:5px;
  width: 20px;
}


.bar.positive {
  fill: #9BDEAC;
}

.bar.negative {
  fill: #F5AD62;;
}

.axis text {
  font: 10px Franklin Gothic Book;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#yield{
  position:absolute;
  top:650px;
  width:375px;
  margin-left: 240px;
  margin-right:10px;
}

#s0 {
  display:block;
  background-color: #F5AD62;
  border: none;
  color: #535E80;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
}

#s1 {
  display:block;
  background-color: #F5AD62;
  border: none;
  color: #535E80;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 360px;
}

.colors {
  background: linear-gradient(to right, #c51b7d, #de77ae, #f1b6da, #fde0ef, #ffffbf, #e6f5d0,#b8e186,#7fbc41,#4d9221);
  margin-bottom: 5px;
}

.label {
  width: 12.5%;
  display: inline-block;
  text-align: center;
}

#yieldconsole{
  position: absolute;
  top:180px;
  font-family: Franklin Gothic Book;
  right: 10px;

}
